# dependencies
/node_modules

# testing
/coverage

# build output
dist/

# production
/build

# misc
.DS_Store
.env
.env.production
.env.local
.env.development.local
.env.test.local
.env.production.local
.parcel-cache
.vscode

# logs
npm-debug.log*